body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
  margin: 0 0 20px 0;
  text-align: center;
}

#countdown {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex: 1;
}

.input-group input {
  padding: 8px 12px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
}

.input-group span {
  margin-left: 5px;
  font-size: 14px;
}

.btn-group {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

button:hover {
  background-color: #0056b3;
}
